*.so
*.exe
.settings/
*.cproject
*.project
*.o
*.lo
*.gcno
*.gcda
/INSTALL
cscope.*
tags
*.swp
*.swo
ltmain.sh
*.kv
*.bak
/Default/
sample/deviceshadow/deviceshadow
sample/mqtt/mqtt
.O/
.config
output/
